# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so
import amino

client=amino.Client()

email=input("Email: ")

password=input("Password: ")

client.login(email=email ,password=password)

print ("Done Loggining")

chatlink=input("A Chat Link From The Community: ")

chatinfo=client.get_from_code(chatlink)

chatId=chatinfo.objectId

comId=chatinfo.path[1:chatinfo.path.index('/')]

print (chatId)

print (comId)

subclient=amino.SubClient(comId=comId, profile=client.profile)

usersId=subclient.get_all_users(type="banned", start=0, size=9000)

user=usersId.profile.userId

for userId in user:

    try:

        subclient.unban(userId=userId, reason="فتح")

        print ("Done")

    except:

        pass

        print ("Faild")
# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xmlimport amino

client=amino.Client()

email=input("Email: ")

password=input("Password: ")

client.login(email=email ,password=password)

print ("Done Loggining")

chatlink=input("A Chat Link From The Community: ")

chatinfo=client.get_from_code(chatlink)

chatId=chatinfo.objectId

comId=chatinfo.path[1:chatinfo.path.index('/')]

print (chatId)

print (comId)

subclient=amino.SubClient(comId=comId, profile=client.profile)

usersId=subclient.get_all_users(type="banned", start=0, size=9000)

user=usersId.profile.userId

for userId in user:

    try:

        subclient.unban(userId=userId, reason="فتح")

        print ("Done")

    except:

        pass

        print ("Faild")
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/
.
